*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    width: 90%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logowrap{
    width: 10%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span:hover{
    cursor: pointer;
    color: red;
    transform: scale(1.3);
    transition: 700ms;
}

.logowrap img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.navwrap{
    width: 55%;
    height: 90%;
    display :flex;
    justify-content: space-between;
    align-items: center;
}

.hero_section{
    width: 100%;
    height: 90%;
    background-image: url("./pexels-tope-a-asokere-5789323.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.card{
    width: 40%;
    height: 50%;
    background-color: white;
    opacity: 80%;
    margin: 60px;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    font-size: 40px;
}
p{
    font-size: 18px;
    margin: 20px 0;
}
.button_wrap{
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.butn1{
    padding: 15px 10px;
    width: 45%;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    background-color: green;

}
.butn2{
    padding: 15px 10px;
    width: 45%;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    background-color: red;
}

button:hover{
    background-color: black;
    color: white;
    transition: 1s;
}


